
/* 거래처 정보 */
.company-content-2 {
    /*position: absolute;*/
    /*flex-direction: column;*/
    /*display: flex;*/
    width: 97%;
    margin-left : 20px;
    margin-right : 20px;
}

tbody tr:hover {
    background-color: #223E4F;
    color: white;
}
