
/* 설비 정보 */
.facility-content-2 {
    /*position: absolute;*/
    /*flex-direction: column;*/
    /*display: flex;*/
    width: 97%;
    margin-left : 20px;
    margin-right : 20px;
}


/* 메인 영역 */
.content-header {
    position: absolute;
    display: flex;
    height : 109px;
    width: 100%;
    padding-top: 42px;
    border: 1px solid red;  /* 틀 확인용 */
}


/* 탭 제목 */
.form-control {
    position: relative;
    width: 800px;
    height: 50px;
    font-size: 30px;
    margin-left: 20px;
}