
/* 설비 정보 테이블 */
.facility-content-2{
    width: 97%;
    margin-left : 20px;
    margin-right : 20px;
}

.selected {
    background-color: yellow;
    color: black;
}

tbody tr:hover {
    background-color: #223E4F;
    color: white;
}

/* 버튼 위치 */
.facility-btn{
    display : flex;
    margin-right : 40px;
    height : 40px;
    justify-content: flex-end;
}


/* 엑셀 다운로드 버튼 */
#downloadButton{
    margin-left : 10px;
    height : 40px;
    border-radius : 8px;
    background: #223E4F;
    color : white;
    margin-right : 10px;
    font-size : 23px;
}