.orders-content-2 {
    /*position: absolute;     *//* 이거 문제 */
    display: flex;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    justify-content: flex-start;
    flex-direction: column;

    height: auto;
}
/* 거래처 */
.orders_company{
    margin-left : 0;
    height : 20px;
    font-size : 20px;
    font-weight : bold;
    display : flex;
}

#orders_company{
    margin-left : 5px;
    height : 30px;
    width : 130px;
    font-size : 20px;
    margin-bottom : 5px;
}

/* 예상 납품일 */
.orders_date{
    display : flex;
    height : 30px;
    margin-left : 60px;
    font-size : 20px;
    font-weight : bold;
}

#orders_date{
    height : 30px;
    width : 130px;
    margin-left : 5px;
    font-size : 20px;
}

/* 납품일 계산 버튼 */
.date_calculate{
    display : flex;
    margin-right : 20px;
    height : 30px;
    justify-content: flex-end;
}

#date_calculate {
    margin-left : 5px;
    height : 30px;
    border-radius : 4px;
    background: #223E4F;
    color : white;
    margin-right : 5px;
    font-size : 20px;
    text-align : center;
}



/* 버튼 */
.orders-btn{
    display : flex;
    margin-right : 20px;
    height : 30px;
    justify-content: flex-end;
}

/* 저장 버튼 */
#confirmed{
    margin-left : 50px;
    height : 30px;
    border-radius : 4px;
    background: #223E4F;
    color : white;
    margin-right : 5px;
    font-size : 20px;
    text-align : center;
}


/* content-2 아래 부분 */
.orders-content-2-1 {
    width: 100%;
    display: flex;
    margin-top : 25px;
    justify-content: space-between;
}

/* 제품명 */
.orders_item {
    margin-left : 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    height : 30px;
}

#orders_item {
    height : 30px;
    width: 180px;
    margin-left : 5px;
    font-size : 20px;

}

/* 제품 코드 */
.orders_code{
    display : flex;
    height : 20px;
    margin-left : 29px;
    font-size : 20px;
    font-weight : bold;
}

#orders_code{
    height : 30px;
    width : 130px;
    margin-left : 5px;
    font-size : 20px;
}


/* 수량 */
.orders_qtt{
    display : flex;
    height : 20px;
    margin-left : 0px;
    font-size: 20px;
    font-weight : bold;
}

#orders_qtt{
    height : 30px;
    width : 130px;
    margin-left : 5px;
    font-size : 20px;
}

.content-3{
    width: 100%;
    height : 100px;
    display: flex;
    margin-top : 40px;
    justify-content: space-start;
}


/* 상세 내역 */
.orders-content-4 {
    position: absolute;
    flex-direction: column;
    display: flex;
    width: 98%;
    margin-top : 0;
    margin-left : 0;
    padding-right : 20px;
    height : 500px;
    overflow : auto;

}

.orders-table {
    margin-left : 0px;
    margin-right : 20px;
    font-size: 20px;
    font-weight: bold;
    width: 98%;
    height : 30px;
}


.table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    border-right: none;
    border-left: none;
    padding: 4px;
    text-align: center;

}

th {
    background-color: #f2f2f2;
}


/* -------------------- */