
.content-desc1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 16px;
    height: 147px;
    justify-content: space-between;
}

/* 완제품 , 반제품 */
.product-content-2 {
    /*position: absolute;*/
    flex-direction: row;
    display: flex;
    width: 80%;
    margin-left : 10%;
    /*margin-right : 20px;*/
    justify-content : space-between;
}

/* 완제품 */
.product-content-2-2{
    width : 48%;
}

/* 반제품 */
.product-content-2-3{
    width : 48%;
}


/* 원자재 */
.product-content-3 {
    /*position: absolute;*/
    /*flex-direction: column;*/
    /*display: flex;*/
    width: 80%;
    margin-left : 10%;
    margin-right : 10%;
    margin-top : 20px;
}


/* 메인 영역 */
.content-header {
    position: absolute;
    display: flex;
    height : 109px;
    width: 100%;
    padding-top: 42px;
    border: 1px solid red;  /* 틀 확인용 */
}


/* 탭 제목 */
.form-control {
    position: relative;
    width: 800px;
    height: 50px;
    font-size: 30px;
    margin-left: 20px;
}