
/* 완제품 , 반제품 */
.product-content-2 {
    /*position: absolute;*/
    flex-direction: row;
    display: flex;
    width: 97%;
    margin-left : 20px;
    /*margin-right : 20px;*/
    justify-content : space-between;
}

/* 완제품 */
.product-content-2-2{
    width : 49%;
}

/* 반제품 */
.product-content-2-3{
    width : 49%;
}


/* 원자재 */
.product-content-3 {
    /*position: absolute;*/
    /*flex-direction: column;*/
    /*display: flex;*/
    width: 97%;
    margin-left : 20px;
    margin-right : 20px;
    margin-top : 20px;
}

tbody tr:hover {
    background-color: #223E4F;
    color: white;
}
