/* 공정별 이력조회 테이블 */
.record-content-2{
    width: 97%;
    margin-left : 20px;
    margin-right : 20px;
}


/* 상세 이력 조회 */
.record-content-3{
    width: 97%;
    margin-left : 20px;
    margin-right : 20px;
}

tbody tr:hover {
    background-color: #223E4F;
    color: white;
}


/* 버튼 위치 */
.record-btn{
    display : flex;
    margin-right : 40px;
    height : 40px;
    justify-content: flex-end;
}


/* 엑셀 다운로드 버튼 */
#downloadButton{
    margin-left : 10px;
    height : 40px;
    border-radius : 8px;
    background: #223E4F;
    color : white;
    margin-right : 10px;
    font-size : 23px;
}
