/* 공정별 이력조회 테이블 */
.record-content-2{
    width: 97%;
    margin-left : 20px;
    margin-right : 20px;
}


/* 상세 이력 조회 */
.record-content-3{
    width: 97%;
    margin-left : 20px;
    margin-right : 20px;
}

tbody tr:hover {
    background-color: #223E4F;
    color: white;
}
