
/* 공정별 대기 품목 테이블 */
.stock-content-2{
    width: 97%;
    margin-left : 20px;
    margin-right : 20px;
}

.selected {
    background-color: yellow;
    color: black;
}

tbody tr:hover {
    background-color: #223E4F;
    color: white;
}