<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title> T U N A - M E S </title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>

    <link href="/css/layout1.css" rel="stylesheet">
    <link href="/css/BOM.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{css/sb-admin-2.min.css}">

    <!-- Custom styles for this page -->
    <link rel="stylesheet" th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}">

    <script>
        // 엑셀 저장
        function convertTableToCSV() {
            var table = document.getElementById('dataTable');
            var rows = table.getElementsByTagName('tr');
            var csv = '';

            // 헤더 부분 추가
            var headerRow = rows[0];
            var headerCells = headerRow.getElementsByTagName('th');
            for (var h = 0; h < headerCells.length; h++) {
                var headerCell = headerCells[h].innerText.replace(/"/g, '""');
                csv += '"' + headerCell + '",';
            }
            csv += '\n';

            // 행 데이터 추가
            for (var i = 1; i < rows.length; i++) {
                var row = rows[i];
                var cells = row.getElementsByTagName('td');

                for (var j = 0; j < cells.length; j++) {
                    var cell = cells[j].innerText.replace(/"/g, '""');
                    csv += '"' + cell + '",';
                }

                csv += '\n';
            }
            return csv;
        }

        $(document).ready(function() {
            $('#downloadButton').on('click', function() {
                var csvData = '\uFEFF' + convertTableToCSV();
                var blob = new Blob([csvData], {type: 'text/csv;charset=utf-8;'});
                var downloadLink = document.createElement('a');
                downloadLink.setAttribute('href', URL.createObjectURL(blob));
                downloadLink.setAttribute('download', 'BOM내역.csv');
                downloadLink.style.display = 'none';
                document.body.appendChild(downloadLink);
                downloadLink.click();
                document.body.removeChild(downloadLink);
            });
        });
    </script>

</head>
<body>

<div id="container">
    <!-- 사이드바 -->
    <div th:replace="fragment/sidebar::sidebar"></div>
    <!-- /사이드바 -->

    <!-- 본문 -->
    <div id="page-content-wrapper">
        <div class="content-desc">
            <div class="content-header">
                <input class="content-title" disabled readonly type="text" value="BOM">
                <div class="bom-btn">
                    <button id="downloadButton" type="button">엑셀 다운로드</button>
                </div>
            </div>
        </div>

        <div class="bom-content-2">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">BOM</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="bomListContainer">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                            <tr>
                                <th>순번</th>
                                <th>제품명</th>
                                <th>양배추(kg)</th>
                                <th>흑마늘(kg)</th>
                                <th>석류(L)</th>
                                <th>매실(L)</th>
                                <th>콜라겐(kg)</th>
                                <th>정제수(L)</th>
                                <th>파우치(ea)</th>
                                <th>스틱파우치(ea)</th>
                                <th>총투입량(kg)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="bom : ${bomList}">
                                <td th:text="${bom.id}">1</td>
                                <td th:text="${bom.item}">양배추즙</td>
                                <td th:if="${bom.material1.equals('양배추')}" th:text="${bom.input1}">50</td>
                                <td th:unless="${bom.material1.equals('양배추')}">0</td>
                                <td th:if="${bom.material1.equals('흑마늘')}" th:text="${bom.input1}">50</td>
                                <td th:unless="${bom.material1.equals('흑마늘')}">0</td>
                                <td th:if="${bom.material1.equals('석류 농축액')}" th:text="${bom.input1}">50</td>
                                <td th:unless="${bom.material1.equals('석류 농축액')}">0</td>
                                <td th:if="${bom.material1.equals('매실 농축액')}" th:text="${bom.input1}">50</td>
                                <td th:unless="${bom.material1.equals('매실 농축액')}">0</td>
                                <td th:if="${bom.material2.equals('콜라겐')}" th:text="${bom.input2}">50</td>
                                <td th:unless="${bom.material2.equals('콜라겐')}">0</td>
                                <td th:if="${bom.material2.equals('정제수')}" th:text="${bom.input2}">50</td>
                                <td th:if="${bom.material3.equals('정제수')}" th:text="${bom.input3}"
                                    th:unless="${bom.material2.equals('정제수')}">50
                                </td>
                                <td th:if="${bom.material3.equals('파우치')}" th:text="${bom.input3}">50</td>
                                <td th:unless="${bom.material3.equals('파우치')}">0</td>
                                <td th:if="${bom.material4.equals('스틱파우치')}" th:text="${bom.input4}">50</td>
                                <td th:unless="${bom.material4.equals('스틱파우치')}">0</td>
                                <td th:if="${bom.material3.equals('파우치')}" th:text="${bom.input1 + bom.input2}">50</td>
                                <td th:text="${bom.input1 + bom.input2 + bom.input3}"
                                    th:unless="${bom.material3.equals('파우치')}">50
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <
                    </div> <!-- /table-responsive -->
                </div> <!-- /card-body -->
            </div> <!-- /card shadow mb-4 -->
        </div> <!-- /bom-content-2 -->

        <div class="bom-content-3">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">제품별 총량</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="bomListContainer2">
                        <table class="table table-bordered" id="dataTable2">
                            <thead>
                            <tr>
                                <th>제품명</th>
                                <th>용량(ml)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>양배추 즙</td>
                                <td>80</td>
                            </tr>
                            <tr>
                                <td>흑마늘 즙</td>
                                <td>80</td>
                            </tr>
                            <tr>
                                <td>석류 젤리스틱</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>매실 젤리스틱</td>
                                <td>15</td>
                            </tr>
                            </tbody>
                        </table>
                    </div> <!-- /table-responsive -->
                </div> <!-- /card-body -->
            </div> <!-- /card shadow mb-4 -->
        </div> <!-- /bom-content-3 -->
    </div> <!-- /page-content-wrapper -->
</div> <!-- /container -->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>


<script>
    $(document).ready(function () {
        $('#dataTable2').DataTable();
    });
</script>
</body>
</html>