<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">

  <title> T U N A - M E S </title>

  <link href="/static/css/MES.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="menu-box">
    <div class="menu-main">
      <a href="#">T U N A - M E S</a>
    </div>
    <div class="menu-list">
      <ul class="menu-item">
        <li><a href="#">수주관리</a></li>
        <li><a href="#">발주관리</a></li>
        <li><a href="#">원자재관리</a></li>
        <li><a href="#">재고관리</a></li>
        <li><a href="#">이력관리</a></li>
        <li><a href="#">출하관리</a></li>
        <li class="menu-item1">
          <a href="#">기준정보</a>
          <ul>
            <li><a class="item1">설비정보</a></li>
            <li><a class="item1">공정정보</a></li>
            <li><a class="item1">BOM</a></li>
            <li><a class="item1">거래처정보</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div class="subpage1">
      <div class="subpage1-1">설비정보
        <button id="fix" a>수정</button>
      </div>
    </div>
    <div class="subpage2">

    </div>
    <div class="subpage3">

    </div>
  </div>
</div>


</body>
</html>





