<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title> T U N A - M E S </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/layout1.css">
    <link rel="stylesheet" href="/static/css/orders.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">

    <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

<div id="container">
    <!--  <div id="page-wrapper">-->
    <!-- 사이드바 -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#" style="font-size:50px; ">TUNA-MES</a>
            </li>
            <li><a href="orders.html">수주관리</a></li>
            <li><a href="purchase.html">발주관리</a></li>
            <li><a href="wip.html">재공재고관리</a></li>
            <li><a href="stock.html">재고관리</a></li>
            <li><a href="record.html">이력관리</a></li>
            <li><a href="shipment.html">출하관리</a></li>
            <li class="menu-item1">
                <a href="#">기준정보</a>
                <ul class="menu-list">
                    <li><a class="item1" href="facility.html">설비정보</a></li>
                    <li><a class="item1" href="process.html">공정정보</a></li>
                    <li><a class="item1" href="BOM.html">BOM</a></li>
                    <li><a class="item1" href="company.html">거래처정보</a></li>
                    <li><a class="item1" href="product.html">품목정보</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /사이드바 -->

    <!-- 본문 -->
    <div id="page-content-wrapper">
        <div class="content-desc">
            <div class="content-header">
                <input class="form-control" type="text" value="수주 관리" aria-label="Disabled input example" disabled readonly>

                <div class="search-bar">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="뭐 검색?" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="orders-content-2">
            <div class="orders-content-2-1">
            <div class="orders_company">
                <p class="orders_company">거래처</p>
                <select name = "orders_company-list" id="orders_company-list">
                    <option value = "coupang">쿠팡</option>
                    <option value = "11st">11번가</option>
                </select>
            </div>

            <div class="orders-date">
                <p class="orders-date">수주 일자</p>
                <input type="date" id="orders-date">
            </div>

            <div class="orders-id">
                <p class="orders-id">수주 번호</p>
                <input type="text" id="orders-id">
            </div>

            <div class="orders-btn">
                <button id="confirmed">수주 확정</button>
                <button id="register" data-toggle="modal" data-target="#myModal">수주 등록</button>
            </div>
            </div>

            <div class="orders-content-2-2">
                <div class="orders_item">
                    <p class="orders_item">제품명</p>
                    <input type="text" id="orders_item">
                </div>

                <div class="orders_code">
                    <p class="orders_code">제품코드</p>
                    <select name = "orders_code" id="orders_code">
                        <option value = "code1">A0001</option>
                        <option value = "code2">A0002</option>
                        <option value = "code3">B0001</option>
                        <option value = "code4">B0002</option>
                    </select>
                </div>

                <div class="orders_status">
                    <p class="orders_status">진행상황</p>
                    <select name = "orders_status" id="orders_status">
                        <option value = "proceeding">진행중</option>
                        <option value = "waiting">대기중</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="orders-content-3">
            <p class="orders-table">수주 내역</p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="border-left:none; border-right:none;">수주 번호</th>
                    <th style="border-left:none; border-right:none;">수주 일자</th>
                    <th style="border-left:none; border-right:none;">거래처</th>
                    <th style="border-left:none; border-right:none;">제품명</th>
                    <th style="border-left:none; border-right:none;">제품 코드</th>
                    <th style="border-left:none; border-right:none;">수량</th>
                    <th style="border-left:none; border-right:none;">예상 납품일</th>
                    <th style="border-left:none; border-right:none;">진행 상태</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="border-left:none; border-right:none;">Cell 1</td>
                    <td style="border-left:none; border-right:none;">Cell 2</td>
                    <td style="border-left:none; border-right:none;">Cell 3</td>
                    <td style="border-left:none; border-right:none;">Cell 3</td>
                    <td style="border-left:none; border-right:none;">Cell 3</td>
                    <td style="border-left:none; border-right:none;">Cell 3</td>
                    <td style="border-left:none; border-right:none;">Cell 3</td>
                    <td style="border-left:none; border-right:none;">Cell 3</td>
                </tr>
                <tr>
                    <td>Cell 4</td>
                    <td>Cell 5</td>
                    <td>Cell 6</td>
                    <td>Cell 6</td>
                    <td>Cell 6</td>
                    <td>Cell 6</td>
                    <td>Cell 6</td>
                    <td>Cell 6</td>
                </tr>
                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>

                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>

                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>
                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>
                </tbody>
            </table>


        </div>

    </div>
    <!-- /본문 -->

    <!-- 모달 -->
    <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">사진제목</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <img class="card-img-top rounded img-fluid" src="images/research/research-1.jpg">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!--  </div>-->

</div>

</body>
</html>