<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title> T U N A - M E S </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/ordersinput.css">
<!--    <link rel="stylesheet" href="/css/layout1.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">

</head>
<body>

<div id="container">
    <!--  <div id="page-wrapper">-->
    <!-- 사이드바 -->
<!--    <div th:replace="fragment/sidebar::sidebar"></div>-->
    <!-- /사이드바 -->

    <!-- 본문 -->
    <div id="page-content-wrapper">
        <div class="content-desc">
            <div class="content-header">
                <input class="form-control" type="text" value="수주 등록" aria-label="Disabled input example" disabled readonly>
            </div>
        </div>

        <form action="/orders" method="post">

            <div class="orders-content-2">
                <div class="orders-content-2-1">
                    <div class="orders_company">
                        <p class="orders_company">거래처</p>
                        <select name = "company" id="orders_company">
                            <option value = "coupang">쿠팡</option>
                            <option value = "11st">11번가</option>
                        </select>
                    </div>

                    <div class="orders_item">
                        <p class="orders_item">제품명</p>
<!--                        <input type="text" id="orders_item" name="item">-->
                        <select name = "code" id="orders_item">
                            <option value = "item1">양배추 즙</option>
                            <option value = "item2">흑마늘 즙</option>
                            <option value = "item3">석류 젤리스틱</option>
                            <option value = "item4">매실 젤리스틱</option>
                        </select>
                    </div>

                    <div class="orders_code">
                        <p class="orders_code">제품코드</p>
                        <select name = "code" id="orders_code">
                            <option value = "code1">A0001</option>
                            <option value = "code2">A0002</option>
                            <option value = "code3">B0001</option>
                            <option value = "code4">B0002</option>
                        </select>
                    </div>


                    <div class="orders-btn">
                        <button id="confirmed">저장</button>
                    </div>
                </div>
            </div>

            <div class="content-3">
            <div class="orders_qtt">
                <p class="orders_qtt">수량</p>
                <input type="number" id="orders_qtt" name="qtt">
            </div>

            <div class="orders_date">
                <p class="orders_date">예상 납품일</p>
                <input type="date" id="orders-date" name="date">
            </div>
                <div class="date_calculate">
                <button id="date_calculate">납품일 계산</button>
                </div>
            </div>
        </form>


        <div class="orders-content-4">
            <p class="orders-table">상세 내역</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>거래처</th>
                        <th>제품명</th>
                        <th>제품 코드</th>
                        <th>수량</th>
                        <th>예상 납품일</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>20230501000A</td>
                    <td>2023/05/01</td>
                    <td>쿠팡</td>
                    <td>양배추 즙</td>
                    <td>A0001</td>
                </tr>
                <tr>
                    <td>20230502000B</td>
                    <td>2023/05/02</td>
                    <td>11번가</td>
                    <td>흑마늘 즙</td>
                    <td>A0002</td>
                </tr>
                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>

                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>

                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>
                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>
                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>
                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>
                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>
                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>
                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr><tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>
                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>
                <tr>
                    <td>Cell 7</td>
                    <td>Cell 8</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                    <td>Cell 9</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>