<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title> T U N A - M E S </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/orders.css">
    <link rel="stylesheet" href="/css/layout1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">

</head>
<body>

<div id="container">
    <!--  <div id="page-wrapper">-->
    <!-- 사이드바 -->
    <div th:replace="fragment/sidebar::sidebar"></div>
    <!-- /사이드바 -->

    <form th:method="get">
        <!-- 본문 -->
        <div id="page-content-wrapper">
            <div class="content-desc">
                <div class="content-header">
                    <input class="form-control" type="text" value="수주 관리" aria-label="Disabled input example" disabled readonly>

                    <div class="search-bar">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="뭐 검색?" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orders-content-2">
                <div class="orders-content-2-1">
                    <div class="orders_company">
                        <p class="orders_company">거래처</p>
                        <select name = "orders_company-list" id="orders_company-list">
                            <option value = "coupang">쿠팡</option>
                            <option value = "11st">11번가</option>
                        </select>
                    </div>

                    <div class="orders-date">
                        <p class="orders-date">수주 일자</p>
                        <input type="datetime-local" id="orders-date">
                    </div>

                    <div class="orders-id">
                        <p class="orders-id">수주 번호</p>
                        <input type="text" id="orders-id">
                    </div>

                    <div class="orders-btn">
                        <button id="confirmed">수주 확정</button>
<!--                        <button id="register" data-toggle="modal" data-target="#myModal">수주 등록</button>-->
                        <button type="button" id="register" data-toggle="modal" data-target="#myModal">수주 등록</button>

                    </div>

                    <div><a th:text="등록" th:href="@{'/orders'}">등록</a></div>

                </div>

                <div class="orders-content-2-2">
                    <div class="orders_item">
                        <p class="orders_item">제품명</p>
<!--                        <input type="text" id="orders_item">-->
                        <select name = "item" id="orders_item">
                            <option value = "item1">양배추 즙</option>
                            <option value = "item2">흑마늘 즙</option>
                            <option value = "item3">석류 젤리스틱</option>
                            <option value = "item4">매실 젤리스틱</option>
                        </select>
                    </div>

<!--                    <div class="orders_code">-->
<!--                        <p class="orders_code">제품코드</p>-->
<!--                        <select name = "orders_code" id="orders_code">-->
<!--                            <option value = "code1">A0001</option>-->
<!--                            <option value = "code2">A0002</option>-->
<!--                            <option value = "code3">B0001</option>-->
<!--                            <option value = "code4">B0002</option>-->
<!--                        </select>-->
<!--                    </div>-->

                    <div class="orders_status">
                        <p class="orders_status">진행상황</p>
                        <select name = "orders_status" id="orders_status">
                            <option value = "proceeding">진행중</option>
                            <option value = "waiting">대기중</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="orders-content-3">
                <p class="orders-table">수주 내역</p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="border-left:none; border-right:none;">순번</th>
                        <th style="border-left:none; border-right:none;">수주 번호</th>
                        <th style="border-left:none; border-right:none;">수주 일자</th>
                        <th style="border-left:none; border-right:none;">거래처</th>
                        <th style="border-left:none; border-right:none;">제품명</th>
<!--                        <th style="border-left:none; border-right:none;">제품 코드</th>-->
                        <th style="border-left:none; border-right:none;">수량</th>
                        <th style="border-left:none; border-right:none;">예상 납품일</th>
                        <th style="border-left:none; border-right:none;">진행 상태</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="list : ${orderList}">
                            <td style="border-left:none; border-right:none;"><a th:text="${list.id}" th:href="@{'/orders/' + ${list.id}}">수주ID</a></td>
                            <td style="border-left:none; border-right:none;" th:text="${list.no}">수주번호</td>
                            <td style="border-left:none; border-right:none;" th:text="${list.date}">수주일자</td>
                            <td style="border-left:none; border-right:none;" th:text="${list.company}">거래처</td>
                            <td style="border-left:none; border-right:none;" th:text="${list.item}">제품명</td>
<!--                            <td style="border-left:none; border-right:none;" th:text="${list.code}">제품 코드</td>-->
                            <td style="border-left:none; border-right:none;" th:text="${list.qtt}">수량</td>
                            <td style="border-left:none; border-right:none;" th:text="${list.shipDate}">예상납품일</td>
                            <td style="border-left:none; border-right:none;" th:text="${list.status}">진행상태</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    </form>
    <!-- /본문 -->
    <!--  </div>-->

    <!-- 모달 -->
    <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">수주 등록</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <iframe src="/orders" style="width: 100%; height: 750px; border: none;"></iframe>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!--  </div>-->

</div>
</body>
</html>