<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title> T U N A - M E S </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/orders.css">
    <link rel="stylesheet" href="/css/layout1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">

    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>
<body>

<div id="container">
    <!--  <div id="page-wrapper">-->
    <!-- 사이드바 -->
    <div th:replace="fragment/sidebar::sidebar"></div>
    <!-- /사이드바 -->

    <form th:method="get">
        <!-- 본문 -->
        <div id="page-content-wrapper">
            <div class="content-desc">
                <div class="content-header">
                    <input class="content-title" type="text" value="수주 관리" disabled readonly>
                    <div class="orders-btn">
                        <button id="confirmed">수주 확정</button>
<!--                        <button id="register" data-toggle="modal" data-target="#myModal">수주 등록</button>-->
                        <button type="button" id="register" data-toggle="modal" data-target="#myModal">수주 등록</button>

                    </div>
<!--                    <div class="search-bar">-->
<!--                        <div class="input-group mb-3">-->
<!--                            <input type="text" class="form-control" placeholder="뭐 검색?" aria-label="Recipient's username" aria-describedby="button-addon2">-->
<!--                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>

            <div class="orders-content-2">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">수주 현황</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable">
                                <thead>
                                <tr>
                                    <th>순번</th>
                                    <th>수주 번호</th>
                                    <th>수주 일자</th>
                                    <th>거래처</th>
                                    <th>제품명</th>
                                    <th>제품 코드</th>
                                    <th>수량</th>
                                    <th>예상 납품일</th>
                                    <th>진행 상태</th>
                                </tr>
                                </thead>
                                <tbody th:each="list : ${orderList}">
                                    <tr>
                                        <td><a th:text="${list.id}" th:href="@{'/orders/' + ${list.id}}">수주ID</a></td>
                                        <td th:text="${list.no}">수주번호</td>
                                        <td th:text="${list.date}">수주일자</td>
                                        <td th:text="${list.company}">거래처</td>
                                        <td th:text="${list.item}">제품명</td>
                                        <td th:text="${list.code}">제품 코드</td>
                                        <td th:text="${list.qtt}">수량</td>
                                        <td th:text="${list.shipDate}">예상납품일</td>
                                        <td th:text="${list.status}">진행상태</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- /본문 -->
    <!--  </div>-->

    <!-- 모달 -->
    <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">수주 등록</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <form action="/orders" method="POST">

                        <div class="orders-content-2">
                            <div class="orders-content-2-1">
                                <div class="orders_company">
                                    <p class="orders_company">거래처</p>
                                    <select name = "company" id="orders_company-list">
                                        <option value = "coupang">쿠팡</option>
                                        <option value = "11st">11번가</option>
                                    </select>
                                </div>

                                <div class="orders-date">
                                    <p class="orders-date">수주 일자</p>
                                    <input type="date" id="orders-date" name="date">
                                </div>

                                <div class="orders-no">
                                    <p class="orders-no">수주 번호</p>
                                    <input type="text" id="orders_no" name="no">
                                </div>

<!--                                <div class="orders-btn">-->
<!--                                    <button id="confirmed">수주 확정</button>-->
<!--                                    <button id="register" data-toggle="modal" data-target="#myModal">수주 등록</button>-->
<!--                                </div>-->
                            </div> <!-- orders-content-2-1 -->

                            <div class="orders-content-2-2">
                                <div class="orders_item">
                                    <p class="orders_item">제품명</p>
                                    <input type="text" id="orders_item" name="item">
                                </div>

                                <div class="orders_code">
                                    <p class="orders_code">제품코드</p>
                                    <select name = "code" id="orders_code">
                                        <option value = "code1">A0001</option>
                                        <option value = "code2">A0002</option>
                                        <option value = "code3">B0001</option>
                                        <option value = "code4">B0002</option>
                                    </select>
                                </div>

                                <div class="orders_status">
                                    <p class="orders_status">진행상황</p>
                                    <select name = "status" id="orders_status">
                                        <option value = "proceeding">진행중</option>
                                        <option value = "waiting">대기중</option>
                                    </select>
                                </div>

                                <div class="orders_qtt">
                                    <p class="orders_qtt">수량</p>
                                    <input type="text" id="orders_qtt" name="qtt">
                                </div>
                            </div> <!-- /orders-content-2-2 -->
                        </div> <!-- /orders-content-2 -->
                    </form>

                </div> <!-- /modal-body -->

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div> <!-- modal-content -->
        </div>
    </div>
    <!-- </div>-->

</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>

</body>
</html>