<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title> T U N A - M E S </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/orders.css">
    <link rel="stylesheet" href="/css/layout1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">

</head>
<body>

<div id="container">
    <!--  <div id="page-wrapper">-->
    <!-- 사이드바 -->
    <div th:replace="fragment/sidebar::sidebar"></div>
    <!-- /사이드바 -->

    <!-- 본문 -->
    <div id="page-content-wrapper">
        <div class="content-desc">
            <div class="content-header">
                <input class="form-control" type="text" value="수주 등록" aria-label="Disabled input example" disabled readonly>
            </div>
        </div>

        <form action="/orders" method="post">

            <div class="orders-content-2">
                <div class="orders-content-2-1">
                    <div class="orders_company">
                        <p class="orders_company">거래처</p>
                        <select name = "company" id="orders_company-list">
                            <option value = "coupang">쿠팡</option>
                            <option value = "11st">11번가</option>
                        </select>
                    </div>

                    <div class="orders-date">
                        <p class="orders-date">수주 일자</p>
                        <input type="date" id="orders-date" name="date">
                    </div>

                    <div class="orders-no">
                        <p class="orders-no">수주 번호</p>
                        <input type="text" id="orders_no" name="no">
                    </div>

                    <div class="orders-btn">
                        <button id="confirmed">수주 확정</button>
                        <button id="register" data-toggle="modal" data-target="#myModal">수주 등록</button>
                    </div>
                </div>

                <div class="orders-content-2-2">
                    <div class="orders_item">
                        <p class="orders_item">제품명</p>
                        <input type="text" id="orders_item" name="item">
                    </div>

                    <div class="orders_code">
                        <p class="orders_code">제품코드</p>
                        <select name = "code" id="orders_code">
                            <option value = "code1">A0001</option>
                            <option value = "code2">A0002</option>
                            <option value = "code3">B0001</option>
                            <option value = "code4">B0002</option>
                        </select>
                    </div>

                    <div class="orders_status">
                        <p class="orders_status">진행상황</p>
                        <select name = "status" id="orders_status">
                            <option value = "proceeding">진행중</option>
                            <option value = "waiting">대기중</option>
                        </select>
                    </div>

                    <div class="orders_qtt">
                        <p class="orders_qtt">수량</p>
                        <input type="text" id="orders_qtt" name="qtt">
                    </div>


                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>