<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" , name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title> T U N A - M E S </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>

    <!-- 모달창  -->
    <script>
$(document).ready(function() {
    // 테이블 행 클릭 시 팝업 창에 정보 출력
    $('table tr').click(function() {
        var company = $(this).find('td:nth-child(2)').text();
        var productName = $(this).find('td:nth-child(4)').text();
        var productCode = $(this).find('td:nth-child(3)').text();
        var quantity = $(this).find('td:nth-child(5)').text();
        var deliveryDate = $(this).find('td:nth-child(6)').text();

        // 팝업 창에 정보 채우기
        $('#popup-company').text(company);
        $('#popup-product-name').text(productName);
        $('#popup-product-code').text(productCode);
        $('#popup-quantity').text(quantity);
        $('#popup-delivery-date').text(deliveryDate);

        // 팝업 창 열기
        $('#popupModal').modal('show');
    });

    // 팝업 창 닫기 버튼 클릭 이벤트 처리
    $('#popup-close-btn').click(function() {
        $('#popupModal').modal('hide');
    });
});
</script>

    <link rel="stylesheet" href="/css/layout1.css">
    <link rel="stylesheet" href="/css/shipment.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">

    <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>

</head>
<body>

<div id="container">
    <!--  <div id="page-wrapper">-->
    <!-- 사이드바 -->
    <div th:replace="fragment/sidebar::sidebar"></div>
    <!-- /사이드바 -->

    <!-- 본문 -->
    <div id="page-content-wrapper">
        <div class="content-desc">
            <div class="content-header">
                <input class="form-control" type="text" value="출하 관리" aria-label="Disabled input example" disabled readonly>

                <div class="search-bar">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="뭐 검색?" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content2">
            <div class="shipment_company">
                <p class="shipment_company">거래처</p>
                <select name = "shipment_company" id="shipment_company" th:field="${shipmentProcess.company}">
                    <option value = "coupang">쿠팡</option>
                    <option value = "11st">11번가</option>
                </select>
            </div>

            <div class="shipment_name">
                <p class="shipment_name">품목명</p>
                <select name = "shipment_name" id="shipment_name" th:field="${shipmentProcess.name}">
                    <option value = "item1">양배추 즙</option>
                    <option value = "item2">흑마늘 즙</option>
                    <option value = "item3">석류 젤리스틱</option>
                    <option value = "item4">매실 젤리스틱</option>
                </select>
            </div>

            <div class="orders_id">
                <p class="orders_id">수주 번호</p>
                <input type="text" id="orders_id" th:value="${shipmentProcess.ordersId}">
            </div>

            <div class="shipment_date">
                <p class="shipment_date">납기일</p>
                <input type="date" id="shipment_date" th:value="${shipmentProcess.date}">
            </div>

            <div class="shipment_status">
                <p class="shipment_status">진행 상황</p>
                <select name="shipment_status" id="shipment_status" th:field="${shipmentProcess.status}">
                    <option th:each="status : ${T(com.mes.sajotuna.entity.ShipmentStatus).values()}"
                            th:value="${status}"
                            th:text="${status.label}"></option>
                </select>
            </div>
        </div>

        <div class="content-3">
            <p class="shipment_record">출하 내역</p>
        </div>

        <div class="content-4">
            <table>
                <thead>
                <tr>
                    <th class="cell-width1-1">수주 번호</th>
                    <th class="cell-width2-2">거래처</th>
                    <th class="cell-width3-3">Lot.no</th>
                    <th class="cell-width4-4">품목명</th>
                    <th class="cell-width5-5">출하 수량</th>
                    <th class="cell-width6-6">납기일</th>
                </tr>
                </thead>
                <tbody> // 일단 데이터 나오는 것만 열이 뜨게 바꿈
                <tr th:each="startShipment : ${startShipment}">
                    <td th:text="${startShipment.ordersId}">OM20230511001</td>
                    <td th:text="${startShipment.company}">쿠팡</td>
                    <td th:text="${startShipment.no}">A20230508m010</td>
                    <td th:text="${startShipment.name}">석류 젤리스틱</td>
                    <td th:text="${startShipment.qtt}">300EA</td>
                    <td th:text="${startShipment.date('yyyy.MM.dd')}">2023.05.12</td>
                </tr>
                </tbody>
            </table>


            <!--   팝업창 추가         -->
            <!-- 팝업 창 -->
            <div id="popupModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">상세 정보</h4>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>거래처:</td>
                                    <td id="popup-company"></td>
                                </tr>
                                <tr>
                                    <td>제품명:</td>
                                    <td id="popup-product-name"></td>
                                </tr>
                                <tr>
                                    <td>Lot.no:</td>
                                    <td id="popup-product-code"></td>
                                </tr>
                                <tr>
                                    <td>수량:</td>
                                    <td id="popup-quantity"></td>
                                </tr>
                                <tr>
                                    <td>예상 납품일:</td>
                                    <td id="popup-delivery-date"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button id="popup-close-btn" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--   팝업창         -->
        </div>


        <div class="content-5">
            <p class="shipment_detail_record">출하 상세내역</p>
        </div>

        <div class="content-6">
            <table>
                <thead >
                <tr>
                    <th class="cell-width1-1">수주 번호</th>
                    <th class="cell-width2-2">거래처</th>
                    <th class="cell-width3-3">Lot.no</th>
                    <th class="cell-width4-4">품목명</th>
                    <th class="cell-width5-5">출하 수량</th>
                    <th class="cell-width6-6">납기일</th>
                    <th class="cell-width7-7">진행 상황</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="startShipment : ${startShipment}">
                    <td th:text="${startShipment.ordersId}">OM20230511001</td>
                    <td th:text="${startShipment.company}">쿠팡</td>
                    <td th:text="${startShipment.no}">A20230508m010</td>
                    <td th:text="${startShipment.name}">석류 젤리스틱</td>
                    <td th:text="${startShipment.qtt}">300EA</td>
                    <td th:text="${startShipment.date('yyyy.MM.dd')}">2023.05.12</td>
                    <td th:text="${startShipment.status}">진행중</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /본문 -->
    <!--  </div>-->

</div>

</body>
</html>