<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/static/css/MES.css" rel="stylesheet">
    <!--  <script>-->
    <!--  function redirectTo('https://localhost:63342/orders.html') {-->
    <!--    window.location.href = https://localhost:63342/orders.html;-->
    <!--  }-->
    <!--</script>-->


</head>
<body>
<div class="container">
    <div class="menu-box">
        <div class="menu-main">
            <a href="#">T U N A M E S</a>
        </div>
        <div class="menu-item">
            <a href="orders.html" >수주관리</a>
        </div>
        <div class="menu-item">
            <a href="purchase.html">발주관리</a>
        </div>
        <div class="menu-item">
            <a href="stock.html">재고관리</a>
        </div>
        <div class="menu-item">
            <a href="wip.html">재공재고관리</a>
        </div>
        <div class="menu-item">
            <a href="manufacture.html">생산관리</a>
        </div>
        <div class="menu-item">
            <a href="record.html">이력관리</a>
        </div>
        <div class="menu-item">
            <a href="shipment.html">출하관리</a>
        </div>
        <div class="menu-item1">
            <a href="#">기준정보</a>
            <ul>
                <li><a class="item1" href="BOM.html">BOM</a></li>
                <li><a class="item1" href="facility.html">설비정보</a></li>
                <li><a class="item1" href="process.html">공정정보</a></li>
                <li><a class="item1" href="company.html">거래처정보</a></li>
                <li><a class="item1" href="product.html">품목 정보</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="subpage1">
            <div class="subpage1-1">재고관리
                <button id="fix" a>수정</button>
            </div>
        </div>
        <div class="subpage2">

        </div>
        <div class="subpage3">

        </div>
    </div>
</div>
</body>
</html>
